<!-- <h2 #template>here</h2>
<ng-template >
    <div class="modal-header">
        <h4 class="modal-title pull-left">Alert</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this person?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
        <button type="button" class="btn btn-default" (click)="onConfirmFunc">Yes</button>
    </div>
</ng-template> -->

<div class="modal-header">
    <h4 class="modal-title pull-left">{{modalTitle}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onHdeFunc()">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
   {{modalMessage}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onHdeFunc()">No</button>
    <button type="button" class="btn btn-default" (click)="onConfirmFunc()">Yes</button>

</div>