.product-list-container {
    margin: 0px 80px;
    .search-div {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 70px;
        input {
            width: 50%;
            padding: 10px;
            border-radius: 10px;
        }
    }
    button {
        margin-left: 20px;
        border: none;
        background-color: #4285f4;
        border-radius: 30px;
        color: azure;
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        padding: 10px;
    }
 
}
