
/* You can add global styles to this file, and also import other style files */
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
